
body{
    font-family: sans-serif;
}

header {
    background-color: #120323;
    color: white;
    padding: 20px
}

h2 {

    color: #120323;
}

footer {
    background-color: #d9043d;
    color: white;
    padding: 20px
}

figure img {
    border: 5px solid #d9043d
}




#container {
    display: flex; 
    justify-content: space-between; 
    gap: 20px;  
  }
  
  main {
    flex: 2; 
    background-color: white;
    padding: 20px;
  }
  
  aside {
    flex: 1; 
    background-color:  greenyellow;
    padding: 20px;
  }
  
  figure {
    margin: 0;
  }
  
  img {
    width: 100%; 
    height: auto;
  }
  
  figcaption {
    margin-top: 10px;
  }
  
 