


body{
    font-family: sans-serif;
}

header {
    background-color: #120323;
    color: #A1C100;
    padding: 20px
}

h2 {

    color: #120323;
}

footer {
    background-color: #d9043d;
    color: white;
    text-align: center;
    padding: 10px;
}

figure img {
    border: 5px solid #d9043d
}

aside {
    background-color: #A1C100;
}

aside h3 {
    font-weight: bold;
}

  
 
.header-container {
    background-color: #1A0D2E;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-container img {
    width: 80px;
}

.header-container h1 {
    font-size: 28px;
    margin: 0;
    font-weight: bold;
}


#container {
    display: flex;
    padding: 40px;
}

main {
    flex: 2;
   
}

figure {
    display: flex;
    gap: 20px;
}

figure img {
    max-width: 300px;
    max-height: 300px;
}


figcaption h2 {
    font-size: 24px;
    font-weight: bold;
}


aside {
    flex: 1;
    padding: 20px;
   
}

@media screen and (max-width: 1000px) {
    #container {
      flex-direction: column;
    }
    
    figure {
      flex-direction: row;
      
    }
    
    figure img {
      width: 80%;
    }
  }
  
  /* Under 768px */
  @media screen and (max-width: 768px) {
    .header-container {
      flex-direction: column;
      text-align: center;
    }
    
    figure {
    flex-direction: column;
}

    figure img {
      width: 100%;
    }
    
}
